# Node.js dependencies
/node_modules/

# Environment variables file
.env

# Logs
logs
*.log
npm-debug.log*

# Build output
dist
build

# TypeScript files
*.tsbuildinfo


generateJwtSecret.js


carCareReadME.md
project_structure.txt